<div class="grid">
    <p-panel header="Parametros" class="col-12">
      <form class="flex flex-column" [formGroup]="formGroup">
        <div class="grid">
          <div class="col-6">
            <p-fieldset legend="Frecuencia" class="col-12">
              <div *ngFor="let category of periodo" class="field-checkbox">
                <p-radioButton [inputId]="category.key" [value]="category" formControlName="selectedFrecuencia"></p-radioButton>
                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
              </div>
            </p-fieldset> 
          </div>
          <div class="col-6">
            <p-fieldset legend="Ubicación" class="col-12">
                <div class="grid">
                    <div class="col-6">
                        <div class="card-container ">
                          <div class="flex flex-column card-container">
                            <div class="flex align-items-center justify-content-center h-2rem m-0"><p>Departamento</p></div>                        
                            <div class="flex align-items-center justify-content-center h-4rem m-0">
                                <p-dropdown class="absolute align-items-center" 
                                  [options]="listaDepartamentos"                                  
                                  [(ngModel)]="selectedDepartamento"                                  
                                  optionLabel="Departamento"
                                  placeholder="Todos"
                                  (onChange)="onSelect($event.value)"                                  
                                ></p-dropdown>
                            </div>                        
                          </div>
                        </div>                            
                    </div>                    
                    <div class="col-6">
                      <div class="card-container">
                        <div class="flex flex-column card-container">                            
                            <div class="flex align-items-center justify-content-center h-2rem m-0"><p>Municipio</p> </div>                    
                            <div class="flex align-items-center justify-content-center h-4rem m-0">
                                <p-dropdown class="absolute align-items-center" 
                                  [options]="Municipios"
                                  [(ngModel)]="selectedMunicipio"
                                  optionLabel="Municipio"
                                  placeholder="Todos"                                  
                                ></p-dropdown>
                            </div>                          
                        </div>
                    </div>
                  </div> 
                </div>          
            </p-fieldset> 
          </div>
        </div>
        <div class="grid">
          <div class="flex flex-wrap align-items-center justify-content-center card-container">
            <p-button class="px-2 m-2" label="Limpiar parámetros" styleClass="p-button-raised p-button-secondary border-noround"></p-button>
            <p-button class="px-2 m-2" label="Mostrar datos" styleClass="p-button-raised p-button-secondary border-noround"></p-button>
          </div>
        </div>
      </form>
  </p-panel>
  </div>