<!--<div class="container flex-container mt-5">
  <app-menu class="flex-item"></app-menu>
  <div class="vr"></div>  
  <app-sociedades-inscritas class="flex-item" style="flex: 1;"></app-sociedades-inscritas>
  <p class="flex-item">Contenido</p> 
</div> -->

<div class="card flex justify-content-center">
  <p-fieldset legend="Frecuencia">
    <p> Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldsetIdentificando el fieldsetIdentificando el fieldsetIdentificando el fieldsetIdentificando el fieldsetvIdentificando el fieldset.</p>
  </p-fieldset>
</div>