<div class="block">
    <div class="grid"> 
        <div class="sm:col-12 xl:col-6">
            <div class="p-panel p-component">
                <div class="p-panel-header">
                    <span class="p-panel-title" id="pr_id_6_header">Sociedades Mercantiles por Estado</span>
                    <div class="p-panel-icons"></div>
                </div>
                <div class="p-toggleable-content" aria-hidden="false" role="region" id="pr_id_6_content" aria-labelledby="pr_id_6_header">
                    <div class="p-panel-content">
                        <div class="justify-content-center">
                            <ng-container *ngIf="!hasData; else showPie">
                                <div style="text-align: center; padding: 70px;">No hay datos</div>
                            </ng-container>
                            <ng-template #showPie>
                                <app-pie-mercantil></app-pie-mercantil>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm:col-12 xl:col-6">
            <div class="p-panel p-component">
                <div class="p-panel-header">
                    <span class="p-panel-title" id="pr_id_6_header">Sociedades Mercantiles por Tipo</span>
                    <div class="p-panel-icons"></div>
                </div><div class="p-toggleable-content" aria-hidden="false" role="region" id="pr_id_6_content" aria-labelledby="pr_id_6_header">
                    <div class="p-panel-content">
                        <div class="justify-content-center">
                            <ng-container *ngIf="!hasData; else doughnut">
                                <div style="text-align: center; padding: 70px;">No hay datos</div>
                            </ng-container>
                            <ng-template #doughnut>
                                <app-doughnut-mercantil></app-doughnut-mercantil>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sm:col-12 xl:col-6">
            <div class="p-panel p-component">
                <div class="p-panel-header">
                    <span class="p-panel-title" id="pr_id_6_header">Sociedades Mercantiles por Actividad Comercial</span>
                    <div class="p-panel-icons"></div>
                </div><div class="p-toggleable-content" aria-hidden="false" role="region" id="pr_id_6_content" aria-labelledby="pr_id_6_header">
                    <div class="p-panel-content">
                        <div class="justify-content-center">
                            <ng-container *ngIf="!hasData; else showPieActividad">
                                <div style="text-align: center; padding: 70px;">No hay datos</div>
                            </ng-container>
                            <ng-template #showPieActividad>
                                <app-pie-actividad></app-pie-actividad>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sm:col-12 xl:col-6">
            <div class="p-panel p-component">
                <div class="p-panel-header">
                    <span class="p-panel-title" id="pr_id_6_header">Sociedades Mercantiles por Departamento</span>
                    <div class="p-panel-icons"></div>
                </div><div class="p-toggleable-content" aria-hidden="false" role="region" id="pr_id_6_content" aria-labelledby="pr_id_6_header">
                    <div class="p-panel-content">
                        <div class="justify-content-center">
                            <ng-container *ngIf="!hasData; else showPieDepartamento">
                                <div style="text-align: center; padding: 70px;">No hay datos</div>
                            </ng-container>
                            <ng-template #showPieDepartamento>
                                <app-pie-departamentos></app-pie-departamentos>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sm:col-12 xl:col-6">
            <div class="p-panel p-component">
                <div class="p-panel-header">
                    <span class="p-panel-title" id="pr_id_6_header">Sociedades Mercantiles por Municipio</span>
                    <div class="p-panel-icons"></div>
                </div><div class="p-toggleable-content" aria-hidden="false" role="region" id="pr_id_6_content" aria-labelledby="pr_id_6_header">
                    <div class="p-panel-content">
                        <div class="justify-content-center">
                            <ng-container *ngIf="!hasData; else showPieMunicipio">
                                <div style="text-align: center; padding: 70px;">No hay datos</div>
                            </ng-container>
                            <ng-template #showPieMunicipio>
                                <app-pie-municipios></app-pie-municipios>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>