<div class="grid my-4">
    
        <div class="sm:col-12 xl:col-6">
            <p-panel header="Sociedades Mercantiles por Estado">
                <div class="card flex justify-content-center">
                    <app-pie-mercantil></app-pie-mercantil>                    
                </div>
            </p-panel>
        </div>
        <div class="sm:col-12 xl:col-6">
            <p-panel header="Sociedades Mercantiles por Tipo">
                <div class="card flex justify-content-center">
                    <app-doughnut-mercantil></app-doughnut-mercantil>                    
                </div>
            </p-panel>
        </div>
        <div class="sm:col-12 xl:col-6">
            <p-panel header="Sociedades Mercantiles por Actividad Comercial.">
                <app-pie-actividad-comercial></app-pie-actividad-comercial>
            </p-panel>
        </div>
        <div class="sm:col-12 xl:col-6">
            <p-panel header="Sociedades Mercantiles por Departamento">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p-panel>
        </div>
        <div class="sm:col-12 xl:col-6">
            <p-panel header="Sociedades Mercantiles por Municipio">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p-panel>
        </div>
        <div class="sm:col-12 xl:col-6">
            <p-panel header="Header">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p-panel>
        </div>
    
</div>

