<div class="container">
    <!--<div class="card">
        <div class="card-header">
          Parametros
        </div>
        <div class="card-body"> 
            <form> 
                <div class="row">
                    <div class="card flex justify-content-center">
                        <p-fieldset legend="Frecuencia" [toggleable]="true">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </p-fieldset>
                        <div class="card">                         
                            <div class="card-header">
                              Frecuencia
                            </div>
                            <div class="card-body">                              
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>                            
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                              Ubicación
                            </div>
                            <div class="card-body">                              
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary d-inline-block mr-2">Limpiar controles</button>
                        <button type="button" class="btn btn-secondary d-inline-block">Mostrar Información</button>
                    </div>           
                </div>                
            </form>                
        </div>
    </div>-->

    <div class="card flex justify-content-center">
      <p-fieldset legend="Frecuencia">
        <p> Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldset Identificando el fieldsetIdentificando el fieldsetIdentificando el fieldsetIdentificando el fieldsetIdentificando el fieldsetvIdentificando el fieldset.</p>
      </p-fieldset>
    </div>
</div>